<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.helloworld" version="1.0.0">

<name>aPONDs</name>

<description>POnds Aplicacion.</description>

<author email="info@ecuacodigo.com" href="#">Ponds</author>

<content src="index.html"/>

<access origin="*"/>

<platform name="android">
<!-- a preference specific to android only here -->
</platform>

<!-- Core/Common Preferences -->


<preference name="fullscreen" value="true"/> 

<preference name="DisallowOverscroll" value="true"/> 

<preference name="orientation" value="landscape"/>

<preference name="HideKeyboardFormAccessoryBar" value="false"/>

<feature name="http://tizen.org/api/application" required="true"/>
<feature name="http://tizen.org/api/application.launch" required="true"/>

<plugin name="Camera" value="org.apache.cordova.camera.CameraLauncher" />
<plugin name="org.apache.cordova.camera" spec="0.3.6" source="pgb" />
<plugin name="cordova-plugin-camera" spec="1.2.0" source="pgb" />
<plugin name="org.apache.cordova.media-capture" spec="0.3.6" source="pgb" />
<plugin name="cordova-plugin-media-capture" spec="1.0.1" source="pgb" />
<plugin name="cordova-plugin-battery-status" spec="1.1.0" source="pgb" />
<plugin name="org.apache.cordova.battery-status" spec="0.2.12" source="pgb" />
<plugin name="org.apache.cordova.contacts" spec="0.2.16" source="pgb" />
<plugin name="cordova-plugin-contacts" spec="1.1.0" source="pgb" />
<plugin name="org.apache.cordova.media" spec="0.2.16" source="pgb" />
<plugin name="cordova-plugin-media" spec="1.0.1" source="pgb" />
<plugin name="org.apache.cordova.file" spec="1.3.3" source="pgb" />

</widget>