<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.helloworld" version="1.0.0">

<name>PONDs</name>

<description>POnds Aplicacion.</description>

<author email="info@ecuacodigo.com" href="#">Ponds</author>

<content src="index.html"/>

<access origin="*"/>

<platform name="android">
<!-- a preference specific to android only here -->
</platform>

<feature name="Device">
<param name="android-package"
value="org.apache.cordova.device.Device"
/>
</feature>

<!-- Core/Common Preferences -->


<preference name="fullscreen" value="true"/> 

<preference name="DisallowOverscroll" value="true"/> 

<preference name="orientation" value="landscape"/>

<preference name="HideKeyboardFormAccessoryBar" value="false"/>

<feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
</feature>

<feature name="http://tizen.org/api/application" required="true"/>
<feature name="http://tizen.org/api/application.launch" required="true"/>

</widget>